{% extends 'base.html' %}
{% block header %}
<div class="subtitle-bar">
  <h1 class="subtitle-text">{% block title %}New Order{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}
  <form method="post">
    <label for="cust_no">Customer Number</label>
    <input name="cust_no" id="cust_no" type="text" value="{{ customer['cust_no'] }}" maxlength="25" disabled />

    <div class="product-list-box">
      {% if products|length %}
        <h3 class="product-list-header">SELECT PRODUCT QUANTITY</h3>
        <div class="product-list-index">
          <h3>Product</h3>
          <h3>Qty</h3>
        </div>
        <div class="product-list-item-wrapper">
          {% for product in products %}
          <div class="product-list-listing">
              <label for="product:{{ product['sku'] }}"><b>{{ product['sku'] }}</b> {{ product['name'] }}</label>
              <input name="product:{{ product['sku'] }}" id="product:{{ product['sku'] }}" type="number" value="0" min="0" required/>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <h3 class="product-list-header">NO PRODUCTS AVAILABLE</h3>
      {% endif %}
    </div>

    <div class="button_holder">
      <input type="submit" class="confirm" value="Create"/>
    </div>
  </form>
{% endblock %}
