{% extends 'base.html' %} {% block header %}
<h1>
    {% block title %}Order | Pay{% endblock %}
</h1>
{% endblock %} {% block content %}
<form method="post">
    <label for="order_no">Do you wish to pay the following order:</label>
    <input name="order_no" id="order_no" type="text" value="{{ order['order_no'] }}" disabled />

    <label for="cust_no">By the following client:</label>
    <input name="cust_no" id="cust_no" type="text" value="{{ order['cust_no'] }}" disabled />

    <div class="product-list-box">
        <h3 class="product-list-header">PRODUCTS CONTAINED</h3>
        <div class="product-list-index">
            <h3>Product</h3>
            <h3>Qty</h3>
        </div>
        <div class="product-list-item-wrapper">
            {% for product in products %}
                <div class="product-list-listing">
                    <label for="product:{{ product['sku'] }}">[{{ product['sku'] }}] {{ product['name'] }}</label>
                    <input type="number" value="{{ product['qty'] }}" min="0" disabled/>
                </div>
            {% endfor %}
        </div>
        <div class="product-list-total">
            <h3>Total : <b>{{ total }}€</b></h3>
        </div>
    </div>

    <div class="button_holder">
        <input type="submit" class="cancel" value="Cancel" formaction="{{ url_for('orders_index') }}" formmethod="get" style="margin-right:5em" /> 
        <input type="submit" class="confirm" value="Pay"/>
    </div>
</form>
{% endblock %}
