{% extends 'base.html' %} {% block header %}
<div class="subtitle-bar">
    <h1 class="subtitle-text">{% block title %}Product | Delete{% endblock %}</h1>
</div>
{% endblock %} {% block content %}
<form method="post">
    <label for="sku">Do you wish to delete the product with the following SKU:</label>
    <input name="sku" id="sku" type="text" value="{{ product['sku'] }}" disabled />
    
    {% if orders|length %}
    <div class="warning-box">
        <h3 class="warning-header">WARNING</h3>
        <label>By deleting this product, you will remove it's presence in the following <u>orders</u>:</label>
        <table class="warning">
            <tr>
                <th>Order No.</th>
                <th>Date No.</th>
                <th>Customer No.</th>
                <th>Customer Name</th>
            </tr>

            {% for order in orders %}
            <tr>
                <td>{{ order['order_no'] }}</td>
                <td>{{ order['date'] }}</td>
                <td>{{ order['cust_no'] }}</td>
                <td>{{ order['name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    
    {% if suppliers|length %}
    <div class="warning-box">
        <h3 class="warning-header">WARNING</h3>
        <label>By deleting this product, you will also delete the following <u>suppliers</u>:</label>
        <table class="warning">
            <tr>
                <th>TIN</th>
                <th>Address</th>
                <th>Name</th>
            </tr>

            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier['tin'] }}</td>
                <td>{{ supplier['address'] }}</td>
                <td>{{ supplier['name'] }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endif %}

    {% if deliveries|length %}
    <div class="warning-box">
        <h3 class="warning-header">WARNING</h3>
        <label>By deleting this product, you will also delete the following <u>delivery</u> records:</label>
        <table class="warning">
            <tr>
                <th>TIN</th>
                <th>Address</th>
            </tr>

            {% for delivery in deliveries %}
            <tr>
                <td>{{ delivery['tin'] }}</td>
                <td>{{ delivery['address'] }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endif %}

    <div class="button_holder">
        <input type="submit" class="cancel" value="Cancel" formaction="{{ url_for('products_index') }}" formmethod="get" style="margin-right:5em" /> 
        <input class="danger" type="submit" value="Delete"/>
    </div>
</form>
{% endblock %}
