{% extends 'base.html' %} {% block header %}
<h1>
    {% block title %}Product | Delete{% endblock %}
</h1>
{% endblock %} {% block content %}
<form method="post">
    <label for="sku">Do you wish to delete the product with the following SKU:</label>
    <input name="sku" id="sku" type="text" value="{{ product['sku'] }}" disabled />
    <br/>
    
    {% if orders|length %}
    <label>By deleting this product, you will remove it's presence in the following orders:</label>
    <table>
        <tr>
            <th>Order No.</th>
            <th>Date No.</th>
            <th>Customer No.</th>
            <th>Customer Name</th>
        </tr>

        {% for order in orders %}
        <tr>
            <td>{{ order['order_no'] }}</td>
            <td>{{ order['date'] }}</td>
            <td>{{ order['cust_no'] }}</td>
            <td>{{ order['name'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    <br/>
    
    {% if suppliers|length %}
    <label>By deleting this product, you will also delete the following suppliers:</label>
    <table>
        <tr>
            <th>TIN</th>
            <th>Address</th>
            <th>Name</th>
        </tr>

        {% for supplier in suppliers %}
        <tr>
            <th>{{ supplier['tin'] }}</th>
            <th>{{ supplier['address'] }}</th>
            <th>{{ supplier['name'] }}</th>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    <br/>

    {% if deliveries|length %}
    <label>By deleting this product, you will also delete the following delivery records:</label>
    <table>
        <tr>
            <th>TIN</th>
            <th>Address</th>
        </tr>

        {% for delivery in deliveries %}
        <tr>
            <th>{{ delivery['tin'] }}</th>
            <th>{{ delivery['address'] }}</th>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    <br/>

    <div class="button_holder">
        <input type="submit" value="Cancel" href="{{ url_for('products_index') }}">
        <input class="danger" type="submit" value="Delete" style="margin-right:5em"/>
    </div>
</form>
{% endblock %}
