{% extends 'paged.html' %}
{% block header %}
<div class="subtitle-bar">
  <h1 class="subtitle-text">{% block title %}Products{% endblock %}</h1>
  <a class="button new" href="{{ url_for('products_new')}}">
    <span class="material-icons-outlined md-20 blue mr5">
      add
      </span>
    New</a>
</div>
  {% endblock %}
  {% block list %}
  {% for product in products %}
  <article class="post">
    <header>
      <div>
        <h1>{{ product ['name'] }}</h1>
        <div class="about">
          SKU: {{ product['sku'] }} {% if product['ean'] is not none %}| EAN:
          {{product['ean']}} {% endif %}
        </div>
      </div>
      <a class="button edit" href="{{ url_for('products_edit', sku=product['sku'])}}">
        <span class="material-icons-outlined md-20 blue mr5">
          edit
          </span>
        Edit</a>
      <a class="button delete" href="{{ url_for('products_delete', sku=product['sku'])}}">
        <span class="material-icons-outlined md-20 blue mr5">
          delete
          </span>
        Delete</a>
    </header>
    <p class="body"><b>€ {{ product['price'] }}</b></p>
    <p class="body">{{ product['description'] }}</p>
  </article>
  {% if not loop.last %}
  <hr />
  {% endif %}
  {% endfor %}
  {% endblock %}